body {
	margin 0
	padding 0
	font-family 'Open Sans', Arial, sans-serif
	font-size 14px
	color #1b1b1b
}
.page,
.content {
	width 100%
	float left
}
.page {
	border-bottom 1px solid #cbcbcb
}
.page_image {
	@extend .page
	box-shadow 2px 2px 15px 2px #8b8b8b
}
.page_sub {
	background-color #cbcbcb
	width 100%
	height 1px
	margin-top 100px
	float left
}
.content {
	background-color rgba(255, 255, 255, 0.5)
}
.content-body {
	width 960px
	margin 0 auto
}
.content-image {
	width 400px
	float left
}
.content-image__slash {
	position absolute
	background-image url('/img/content_slash.png')
	background-repeat repeat-y
	width 400px
	height 400px
}
.content-image__img {
	width 100%
}
.next-page {
	position absolute
	width 960px
	margin 10px 0
	bottom 0
}
.next-page__button {
	background-image url('/img/icons.svg')
	background-position 64px 32px
	width 32px
	height 32px
	margin 0 auto
	cursor pointer
}


.table {
	border 1px solid #fff
}
.table_zebra {
	@extend .table
}
.table-row {
	display table
	box-sizing border-box
	background-color #f2f2f2
	width 100%
	padding 12px 30px
	margin 3px 0
	border-radius 5px
	text-align center
	float left
}
.table-row_head {
	@extend .table-row
	background-color #2d78e6
	color #fbfbfb
	font-weight bold
}
.table-row__cell {
	display table-cell
	width 8,333333333333333%
	vertical-align middle
}
.table-row__cell_2 {
	@extend .table-row__cell
	width 16,66666666666667%
}
.table-row__cell_3 {
	@extend .table-row__cell
	width 25%
}
.table-row__cell_4 {
	@extend .table-row__cell
	width 33,33333333333333%
}
.table-row__cell_5 {
	@extend .table-row__cell
	width 41,66666666666667%
}
.table-row__cell_6 {
	@extend .table-row__cell
	width 50%
}
.table-row__cell_7 {
	@extend .table-row__cell
	width 58,33333333333333%
}
.table-row__cell_8 {
	@extend .table-row__cell
	width 66,66666666666666%
}
.table-row__cell_9 {
	@extend .table-row__cell
	width 75%
}
.table-row__cell_10 {
	@extend .table-row__cell
	width 83,33333333333333%
}
.table-row__cell_11 {
	@extend .table-row__cell
	width 91,66666666666666%
}
.table-row__cell_12 {
	@extend .table-row__cell
	width 100%
}
.table-row_highlight {
	background-color #ebebeb
	color #0b0b0b
}
.table__text_left {
	text-align left
}