.worktime {
  width: 400px;
  margin-top: 150px;
  float: left;
}
.worktime-title {
  width: 100%;
  margin-bottom: 60px;
  font-size: 30px;
  text-align: center;
  float: left;
}
.worktime-body {
  float: left;
}
.worktime-line,
.worktime-line_last,
.worktime-line_hover {
  background-color: #ebebeb;
  border-radius: 7px;
  margin-bottom: 10px;
  width: 100%;
  float: left;
}
.worktime-line_last {
  border-bottom: none;
}
.worktime-line_hover {
  background-color: #643cfa;
  color: #fbfbfb;
}
.worktime-line__select,
.worktime-line__select_hover {
  background-color: #ebebeb;
  width: 8px;
  height: 8px;
  margin-top: 13px;
  margin-left: 12px;
  border: 2px solid #fff;
  border-radius: 10px;
  float: left;
}
.worktime-line__select_hover {
  background-color: #643cfa;
  border-color: #fff;
}
.worktime-line__day,
.worktime-line__time {
  box-sizing: border-box;
  width: 200px;
  padding: 10px 20px;
  text-align: center;
  float: left;
}
.worktime-line__time {
  width: 173px;
  text-align: center;
}
