.navigation {
  position: fixed;
  top: -100px;
  background-color: rgba(255,255,255,0.9);
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  z-index: 100;
  transition: 0.3s;
}
.navigation-panel {
  width: 960px;
  margin: 0 auto;
}
.navigation-logo {
  padding: 20px 0;
  float: left;
}
.navigation-menu {
  padding: 12px 0;
}
