.head {
	background-image url("/img/pages/head.jpg")
	background-size 100%
	background-position 0
	background-repeat no-repeat
	background-color #000
	transition .3s
}
.head-top,
.head-body,
.head-bottom {
}