.logo {
	width 100%
	float left
}
.logo__image {
	background-image url('/img/logo.svg')
	background-size 260px 160px
	width: 260px
	height: 160px
}
.logo__image_small {
	@extend .logo__image
	background-size 130px 80px
	width: 130px
	height: 80px
}
.logo__image_small_text {
	@extend .logo__image_small
	background-position 0 23px
	height: 23px
}