.menu {
	float right
}
.menu-button {
	margin 10px 0 0 10px
	float left
	cursor pointer
}
.menu-button__link {
	padding 0 10px 3px
	float left
}
.menu-button__line {
	background-color #3b3b3b
	width 100%
	height 2px
	float left
	opacity 0
	transition .3s
}
.menu-button:hover .menu-button__line {
	opacity 1
}