.social {
	width 100%
	float left
}
.social__button {
	background-image url('/img/icons.svg')
	background-size 144px
	width 36px
	height 36px
	margin-left 30px
	border-radius 5px
	float right
	cursor pointer
}
.social__button_vk {
	@extend .social__button
}
.social__button_ok {
	@extend .social__button
	background-position -36px 0
}