.worktime {
	display table
	width 960px
}
.worktime-body {
	display table-cell
	width 400px
	padding-left 160px
	vertical-align middle
}
.worktime-title {
	width 100%
	margin-bottom 50px
	font-size 30px
	text-align center
	float left
}
.worktime-text {
	width 100%
	text-align justify
	font-size 16px
	line-height 40px
	float left
}
.worktime-info {
	display table-cell
	width 400px
	vertical-align middle
}
.worktime-line {
	background-color #f2f2f2
	width 100%
	margin 3px 0
	border-radius 5px
	float left
}
.worktime-line_weekend {
	@extend .worktime-line
	background-color #ebebeb
	color #0b0b0b
}
.worktime-line_hover {
	@extend .worktime-line
	background-color #3cbe3c
	color #fbfbfb
}
.worktime-line__select {
	background-color #fff
	width 10px
	height 10px
	margin 15px 20px 0
	border-radius 7px
	float left
}
.worktime-line__day,
.worktime-line__time {
	box-sizing border-box
	width 150px
	line-height 40px
	float left
}
.worktime-line__time {
	text-align right
}
.order-button {
	background-color #643cfa
	padding 0 20px
	margin 0 auto
	border-radius 30px
	line-height 40px
	color #fbfbfb
	float left
	cursor pointer
	transition .3s 
}
.order-button:hover {
	background-color #6e46ff
}