.contacts {
	display table
	width 960px
}
.contacts-body {
	display table-cell
	width 400px
	padding-left 160px
	vertical-align middle
}
.contacts-title {
	width 100%
	margin-bottom 50px
	font-size 30px
	text-align center
	float left
}
.contacts-text {
	width 100%
	text-align justify
	font-size 16px
	line-height 40px
	float left
}
.contacts-info {
	display table-cell
	vertical-align middle
}
.contacts-type,
.contacts-value,
.contacts-subvalue  {
	width 400px
	text-align center
	float left
}
.contacts-type {
	padding-top 20px
	margin 20px 0 5px
	font-size 18px
}
.contacts-type_first {
	@extend .contacts-type
	margin-top 0
}
.contacts-value {
	font-size 26px
}
.contacts-subvalue {
	float left
}