.head {
  background-image: url("/img/pages/head20.jpg");
  background-size: 100%;
  background-position: 0;
  background-repeat: no-repeat;
  background-color: #fbfbfb;
  transition: 0.3s;
}
.head-top,
.head-body,
.head-bottom {
  width: 100%;
  float: left;
}
.head-menu,
.head-logo,
.head-greeting,
.head-social {
  width: 100%;
  float: left;
}
