.social {
  width: 100%;
  float: left;
}
.social-button {
  width: 36px;
  height: 36px;
  margin-left: 30px;
  border-radius: 5px;
  float: right;
  cursor: pointer;
}
.social-button__logo,
.social-button__logo_vk,
.social-button__logo_ok {
  width: 40px;
  height: 40px;
  fill: #0b0b0b;
  transition: 0.3s;
}
.social-button:hover .social-button__logo_vk,
.social-button:hover .social-button__logo_ok {
  filter: url("#drop-shadow");
  margin-bottom: 5px;
  margin-right: 5px;
}
#drop-shadow {
  color: #f00;
}
