.navigation {
	position fixed
	top -100px
	width 100%
	background-color #fff
	border-bottom 1px solid #dbdbdb
	z-index 100
	transition .3s;
}
.navigation-panel {
	width 960px
	margin 0 auto
}
.navigation-logo {
	padding 20px 0
	float left
}
.navigation-menu {
	padding 12px 0
}